<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1051103944258-1ser3n77nmsf0o1vml734oo31i3v8qft.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1051103944258-1ser3n77nmsf0o1vml734oo31i3v8qft</string>
	<key>API_KEY</key>
	<string>AIzaSyAYh9bdhPS3h2OY0j5qxvteslvaaRyPrN0</string>
	<key>GCM_SENDER_ID</key>
	<string>1051103944258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chainreactapp2023</string>
	<key>PROJECT_ID</key>
	<string>chainreactapp2023</string>
	<key>STORAGE_BUCKET</key>
	<string>chainreactapp2023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1051103944258:ios:b0b31af4fd390d31a157db</string>
</dict>
</plist>